{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <main class="container my-6"> -->
    <center><h3 class="my-4 border-bottom pb-1">Location</h3></center>
    <center>
    <p><div style="overflow:hidden;max-width:100%;width:1500px;height:600px;"><div id="embed-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=nivan+infotecgh&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embed-ded-maphtml" href="https://www.bootstrapskins.com/themes" id="inject-map-data">premium bootstrap themes</a><style>#embed-map-canvas img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div></p></center>
</main>
{% endblock %}